MDS_ES_URL=http://examination-service:8000
MDS_CDS_URL=http://clinical-data-service:8001
MDS_JS_URL=http://journal-service:8002
MDS_AS_URL=http://annotation-service:8003
MDS_HS_URL=http://history-service:8004
MDS_CORS_ALLOW_ORIGINS=["*"]
DEBUG=false
