CM_NEO4J_URI=127.0.0.1:7687
CM_NEO4J_USERNAME=neo4j
CM_NEO4J_PASSWORD=password

SDG_NEO4J_URI=127.0.0.1:7688
SDG_NEO4J_USERNAME=neo4j
SDG_NEO4J_PASSWORD=password


IMCG_NEO4J_URI=127.0.0.1:7689
IMCG_NEO4J_USERNAME=neo4j
IMCG_NEO4J_PASSWORD=password
