CM_NEO4J_URI=127.0.0.1:7687
CM_NEO4J_USERNAME=neo4j
CM_NEO4J_PASSWORD=password

SDG_NEO4J_URI=127.0.0.1:7688
SDG_NEO4J_USERNAME=neo4j
SDG_NEO4J_PASSWORD=password


IMCG_NEO4J_URI=127.0.0.1:7689
IMCG_NEO4J_USERNAME=neo4j
IMCG_NEO4J_PASSWORD=password

EXPOSE_URL=127.0.0.1
MANAGER_URL=http://localhost:8081

S3_REGION=us-east-1
S3_URL=http://localhost:8333
S3_ACCESS_KEY=accesskey
S3_SECRET_KEY=secretkey
S3_BUCKET_NAME=code-elements