MANAGER_URL=http://localhost:8081
SYNTHESIZER_URL=http://localhost:8080
EXPOSE_URL=127.0.0.1

S3_REGION=us-east-1
S3_URL=http://localhost:8333
S3_ACCESS_KEY=accesskey
S3_SECRET_KEY=secretkey
S3_BUCKET_NAME=code-elements